@page "/solid"

<h3>Principios SOLID en C#</h3>

<p>Los principios SOLID son cinco principios fundamentales para diseñar software mantenible y escalable.</p>

<ul>
    <li><b>S</b> - Single Responsibility Principle (SRP)</li>
    <li><b>O</b> - Open/Closed Principle (OCP)</li>
    <li><b>L</b> - Liskov Substitution Principle (LSP)</li>
    <li><b>I</b> - Interface Segregation Principle (ISP)</li>
    <li><b>D</b> - Dependency Inversion Principle (DIP)</li>
</ul>


